# Ignore Gradle project-specific cache directory
assignment/.gradle

# Ignore Gradle build output directory
assignment/build
assignment/.settings
assignment/bin
assignment/build
assignment/gradle
assignment/META-INF
assignment/.classpath
assignment/.gitattributes
assignment/.project

